.public-header {
    width: 100%;
    min-height: 12vh;
    padding: 1rem;
    /* background-color: green; */
    /* border-bottom: 2px solid #ccc; */
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom: 1rem;
}

/* Navigation large screens */
.public-nav {
    display: flex;
    margin-left: 0 auto;
    gap: 0.5rem;
}



/* Navigation small screens */
.burger-menu-icon {
    width: 3rem;
    cursor: pointer;
}
.burger-menu-icon:hover {
    scale: 1.3;
    
}

.logo {
    width: 7rem;
    cursor: pointer;
}

.public-header-title {
    flex: 1;
    margin: 1rem;
}

.public-header-span {
    color: #6bb8ff;
}


@media only screen and (max-width: 500px) {
   .public-header {
    flex-direction: column;
   }

   .logo {
    width: 10rem;
   }

   .public-header-span, .public-header-title {
     font-size: large;
   }

   .public-nav {
    display: none;
   }

}

@media only screen and (min-width: 500px) {
    .burger-menu-icon {
        display: none;
    }
}