.gif-card__container {
    width: 100%;
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.gif-card-image__wrapper {
    width:  100%;
    height: auto;
    object-fit: cover;
    padding: 1rem;
}

.gif-card__title {
    font-size: small;
    text-align: center;
}


@media only screen and (min-width: 500px) {
    .gif-card-image__wrapper {
        height: 30vh;
    }
}

@media only screen and (min-width: 600px) {
    .gif-card-image__wrapper {
        height: 30vh;
    }
}

@media only screen and (min-width: 768px) {
    .gif-card-image__wrapper {
        height: 30vh;
    }
}


@media only screen and (min-width: 992px) {
    .gif-card-image__wrapper {
        height: 40vh;
    }
}