.private-header {
    width: 100%;
    min-height: 12vh;
    padding: 1rem;
    /* background-color: green; */
    /* border-bottom: 2px solid #ccc; */
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom: 1rem;
}

.private-header-theme {
    width: 8%;
    position: absolute;
    left: 90%;
    top: 2%;
    cursor: pointer;
}

.private-header-title {
    flex: 1;
    margin: 1rem;
}


.private-header-span {
    color: #6bb8ff;
}

@media only screen and (min-width: 501px) {
    .private-header-theme {
        display: none;
    }
}


@media only screen and (max-width: 700px) {
    .private-header {
     flex-direction: column;
    }
 
    .public-header-span, .public-header-title {
      font-size: large;
    }
 
 }
 
