.burger-menu__container {
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-top: 2rem;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin: 6% auto;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  opacity: 95%;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.btn-burger {
  color: hsla(209, 98%, 58%, 0.557);
  border: none;
  background: none;
  display: inline-block;
  position: relative;
  font-size: x-large;
  cursor: pointer;
}

.btn-burger:hover {
  color: #57adfd;
  
}

.btn-burger:after {
  content: '';
  margin-bottom: -4px;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn-burger:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

