.loading-spinner__container {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-spin {
    animation: spin 1s linear infinite;
}

.loading-spinner {
    display: inline;
    margin-right: 0,5rem;
    width: 2rem;
    height: 2rem;
    color: #ccc;
    fill: #2563eb;
}

