.private-gif-card__container {
  width: 100%;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.private-gif-card__container:hover .private-gif-card__btns {
  display: flex;
  height: 35px;
}

.private-gif-card__container:hover .fav-btn {
  font-size: 24px !important;
}

.private-gif-card__title {
  font-size: small;
  text-align: center;
}

.private-gif-card__image {
  width: 100%;
  height: clamp(260px, 30vh, 350px);
  object-fit: cover;
  padding: 1rem;
  padding-bottom: 0;
}
.private-gif-card__wrapper {
    padding: 0 1rem;
    position: absolute;
    bottom: 34px;
    height: 0px;
    width: 100%;
}

.private-gif-card__btns {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0 0.5em;
  position: relative;
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
  /* border: 2px solid black; */
}

.fav-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding-left: 5px;
}

.fav-btn:hover {
  scale: 1.2;
}

.fav-btn-share {
  color: #fff;
}

.fav-btn-share:hover {
  color: #ccc;
}

