.section-buff__register {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   /* background-color: #a9dfff6e; */
}

.register-description {
    width: 30%;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.register-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.register-fields {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
}

.register-buttons {
    display: flex;
    margin-bottom: 10px;
    gap: 0.5rem;
}

.error {
    color: crimson;
}


@media only screen and (max-width: 500px) {
        .section-buff__register {
            flex-direction: column;
            gap: 2rem;
        }

        .register-description {
            width: 70%;
        }

        .register-description h1 {
            font-size: x-large;
        }

        .error, .success {
            font-size: small;
        }

        

}
@media only screen and (min-width: 500px) {
    .section-buff__register {
        flex-direction: column;
        gap: 2rem;
    }

    .register-description {
        width: 70%;
    }

    .register-description h1 {
        font-size: x-large;
    }

   
    
}

@media only screen and (min-width: 768px) {
    .section-buff__register {
        flex-direction: row;
        gap: 0;
    }

    .register-description {
        width: 70%;
        margin-left: 1rem;
    }

    .register-description h1 {
        font-size: xx-large;
    }

}

@media only screen and (min-width: 992px) {
    .register-form {
        width: 30%;
    }

    .register-description {
        width: 30%;
        margin-left: 1rem;
    }

    .register-description h1 {
        font-size: xx-large;
    }

}

@media only screen and (min-width: 1200px) {
    .register-form {
        width: 25%;
    }

    .register-description {
        width: 30%;
        margin-left: 1rem;
    }

    .register-description h1 {
        font-size: xx-large;
    }

}