.private-burger-menu-icon {
    width: 3rem;
    cursor: pointer;
}
.private-burger-menu-icon:hover {
    scale: 1.3;
    
}

@media only screen and (min-width: 500px) {
    .private-burger-menu-icon {
        display: none;
    }
}