.btn-primary {
    background-color: hsla(209, 98%, 58%, 0.557);
    width: 5rem;
    height: 2rem;
    margin: 0.5rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    /* text-transform: uppercase; */
}


.btn-primary:hover {
    background-color: #6bb8ff;
}

/* btn-primary dark styles */

.btn-primary-dark {
    color: white;
    background-color: #6bb8ff;
}

.btn-primary-dark:hover {
    background-color: hsla(209, 98%, 58%, 0.557);
}

.btn-active {
    background-color: #2b99ff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}