.public-home-wrapper {
    text-align: center;
    margin-bottom: 1rem;
    
}

.public-home__title {
    margin-bottom: 1rem;
}


.gifs-container {
    display: grid;
    grid-template-columns: 1fr;
}

.start-now__button:link, .start-now__button:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.2em;
    color: #6bb8ff;
}

.start-now__button:hover, .start-now__button:active {
    cursor: pointer;
}


@media only screen and (min-width: 500px) {
    .gifs-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media only screen and (min-width: 768px) {
    .gifs-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media only screen and (min-width: 992px) {
    .gifs-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media only screen and (min-width: 1200px) {
    .gifs-container {
        grid-template-columns: repeat(4, 1fr);
    }
    
}