.private-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.private-home__nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.private-home__content {
    /* border: 1px solid green; */
    /* background-color: rgb(238, 238, 238); */
    width: 100%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
}

.no-gifs__message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
}

@media only screen and (min-width: 500px) {
    .private-home__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .private-home__content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 922px) {
    .private-home__content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .private-home__content {
        grid-template-columns: repeat(5, 1fr);
    }
}