.section-buff__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
 }
 
 .login-description {
     width: 30%;
 }
 
 .login-form {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 1rem;
     padding: 1rem;
     gap: 1rem;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }
 
 .login-header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1.5rem;
     text-align: center;
 }
 
 .login-fields {
     display: flex;
     flex-direction: column;
     text-align: center;
     width: 70%;
 }
 
 .login-buttons {
     display: flex;
     margin-bottom: 10px;
     gap: 0.5rem;
 }
 
 .error {
     color: crimson;
 }
 .success {
     color: green;
 }
 
 @media only screen and (max-width: 500px) {
 
     .login-form {
        height: 50vh;
     }
 
         .section-buff__login {
             flex-direction: column;
             gap: 2rem;
         }
 
         .login-description {
             width: 70%;
         }
 
         .login-description h1 {
             font-size: x-large;
         }
 
         .error, .success {
             font-size: small;
         }
 
         
 
 }
 @media only screen and (min-width: 500px) {
     .section-buff__login {
         flex-direction: column;
         gap: 0;
     }
 
     .login-description {
         width: 70%;
     }
 
     .login-description h1 {
         font-size: x-large;
     }
 
     .login-form {
         height: 70vh;
     }
 
     
 }
 
 @media only screen and (min-width: 768px) {
     .section-buff__login {
         flex-direction: row;
         gap: 0;
     }
 
     .login-description {
         width: 70%;
         margin-left: 1rem;
     }
 
     .login-description h1 {
         font-size: xx-large;
     }
 
     .login-form {
         height: 70vh;
     }
 }
 
 @media only screen and (min-width: 992px) {
     .login-form {
         width: 30%;
         height: 60vh;
     }
 
     .login-description {
         width: 30%;
         margin-left: 1rem;
     }
 
     .login-description h1 {
         font-size: xx-large;
     }
 
 }
 
 @media only screen and (min-width: 1200px) {
     .login-form {
         width: 25%;
     }
 
     .login-description {
         width: 30%;
         margin-left: 1rem;
     }
 
     .login-description h1 {
         font-size: xx-large;
     }
 
 }