/* Global resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

input {
    border: 1px solid rgb(83, 83, 83);
    border-radius: 5px;
    height: 1.5rem;
    padding-left: 0.5rem;
}

img {
    display: block;
    height: 100%;
    width: 100%;
  }

  .dark {
      background-color: #333;
      color: #fff;
  }

  .light {
      background-color: #fff;
      color: #333;
  }


   /* Disable scrolling when modal is open */

 .no-scroll {
    overflow-y: hidden;
  }
  
 