
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: pointer;
  }

.modal-container {
    width: 500px;
    height: 250px;
    padding: 0.5rem;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title {
    align-self: flex-start;
}

.modal-url {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    gap: 0.5rem;
}

.modal-url label {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.url-input {
    flex: 1;
    position: relative;
    cursor: pointer;
}

.url-copied {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #22db0a;
}
.url-not-copied {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #db0a1b;
}

.modal-copy {
    width: 7%;
    cursor: pointer;
}

.modal-copy:hover {
    scale: 1.2;
}


@media only screen and (max-width: 500px) {
    .modal-container {
        width: 350px;
        height: 175px;
    }
}