.private-nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0 auto;
    /* padding: 0.5em; */
    gap: 0.5rem;
    flex: 0;
}


.theme-container {
    width: 12%;
    cursor: pointer;
    align-self: flex-start;
}

@media only screen and (max-width: 500px) {

    .private-nav {
     display: none;
    }
   
 }

@media only screen and (min-width: 500px) {

    .private-nav {
        width: 70%;
     }
 
     .theme-container {
         width: 7%;
         position: absolute;
         left: 90%;
         top: 2%;
     }
     
 }




@media only screen and (min-width: 700px) {

    .private-nav {
       width: 70%;
    }

    .theme-container {
        width: 8%;
        position: static;
    }
    
   
 }
@media only screen and (min-width: 900px) {

    .private-nav {
       width: 70%;
    }

    .theme-container {
        width: 8%;
    }
    
   
 }